<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
    <%for(i = 0; i < list.length; i++){%>
        <li><a href="/guestbook/view/<%=list[i].id%>"> <%=list[i].title%> <%=list[i].writer%></li>
    <%}%>
    </ul> 

    <a href="/guestbook/write">글쓰기</a>
</body>
</html>