<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <div>
            <h2>취미생활</h2>
            <input type="checkbox" id="hobbyA" value="A" v-model="hobby"/>
            <label for="hobbyA">운동</label><br/>
            <input type="checkbox" id="hobbyA" value="B" v-model="hobby"/>
            <label for="hobbyB">독서</label><br/>
            <input type="checkbox" id="hobbyA" value="C" v-model="hobby"/>
            <label for="hobbyC">음악</label><br/>
            <input type="checkbox" id="hobbyA" value="D" v-model="hobby"/>
            <label for="hobbyD">댄스</label><br/>
            <input type="checkbox" id="hobbyA" value="E" v-model="hobby"/>
            <label for="hobbyE">역사</label><br/>
        </div>

        <div>선택사항 : {{hobby.join(" ")}}</div>

        <div>
        <h2>상품분류선택</h2>
            <select v-model="category">
                <option value="">--선택하세요--</option>
                <option value="1">레저</option>
                <option value="2">가전</option>
                <option value="3">음식</option>
                <option value="4">이불</option>
                <option value="5">주방</option>
            </select>
        </div>

        <div>선택사항 {{category}} </div>
        
    </div>
</body>
</html>
<script>
    Vue.createApp({
        data(){
            return{
                //split:문자열을 => 배열, join: 배열 => 문자열
                hobby:[],
                category:""
            }
        }
    }).mount("#app")
</script>