<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <h1>성적처리</h1>
        이름 : <input v-model="name" > <br/>
        국어 : <input v-model="kor" > <br/>
        영어 : <input v-model="eng" > <br/>
        수학 : <input v-model="math" > <br/>
        
        <button type="button" v-on:click="getResult">확인</button>
        </br>

        <span style="color:red;font-size:20px;">{{result}}</span><br/>
    </div> 
</body>
</html>

<script>
    Vue.createApp({
        data(){
            return{
                name:"",
                kor:0,
                eng:0,
                math:0,
                result:""
            }
        },
        methods:{
            //함수들을 키와 값의 형태로
            //이 함수는 외부함수x,람다는 this 사용못해서 x => 함수표현식 사용
            getResult:function(){
                let result = parseInt(this.kor) + parseInt(this.eng) + parseInt(this.math);
                this.result = `${this.name}의 총점은 ${result}`;
            }
        }
    }).mount("#app")
</script>